.container {
  width: 600px;
  height: 550px;
  text-align: center;
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 0;
  background-color: #cbcbce;
  z-index: 10000;
}
.avatar-div {
  position: absolute;
  bottom: 45px;
  left: 5px;
}
.avatar-div .avatar-2 {
  border-radius: 45px;
}
.header {
  height: 35px;
  width: 100%;
  background-color: #354c90;
  border-radius: 4px;
  color: white;
  padding-top: 7px;
}
.header .close-icon {
  float: right;
  font-size: 1.2em;
  padding-right: 20px;
  cursor: pointer;
}
.say-div {
  position: absolute;
  width: 100%;
  padding: 11px;
  height: 55px;
  bottom: -6px;
}
.say-input {
  width: 79%;
  border-radius: 8px;
  height: 100%;
  padding: 13px;
}
.chat-div {
  width: 100%;
}
.content {
  left: 17%;
  width: 83%;
  height: 472px;
  background-color: #cbcbce;
  border-radius: 4px;
  overflow: auto;
  position: relative;
}
.message-div {
  display: block;
}
.avatar {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  cursor: pointer;
  border-radius: 45px;
}
.speak-btn {
  background: url("../../images/recording.gif");
  transform: scale(0.3, 0.3);
  position: fixed;
  bottom: -28px;
  right: -19px;
}
