.person-form {
  display: block;
  background-color: gray;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
.person-form .btn-submit {
  text-align: right;
  padding-right: 30px;
}
.person-form table,
.person-form td,
.person-form th {
  border: 1px solid #ddd;
  text-align: left;
}
.person-form table {
  border-collapse: collapse;
  width: 100%;
}
.person-form th,
.person-form td {
  padding: 5px;
}
