<!--<section>
    <div class="mail-box">
        <ul>
            <li class="account">
                <i class="fa fa-user fa-small">{{" "+account}}</i>
            </li>
        </ul>
        <ul>
            <li class="inbox" [ngClass]='{active: isInboxSelected}'>
                <a (click) = "inboxClick()"  class="fa fa-plus fa-small">{{" Inbox (" + inboxCount + ")"}}</a>
            </li>
            <li class="sent" [ngClass]='{active: !isInboxSelected}'>
                <a (click) = "sentClick()"  class="fa fa-plus fa-small">{{" Sent (" + sentCount + ")"}}</a>
            </li>
        </ul>
    </div>
    <div class="mail-list-detail">
        <my-mail-list [list] = "selectedMailList"> </my-mail-list>
    </div>
</section>-->