<section id="container4" #container4 class="container"       
      [style.width.px]="width" 
      [style.height.px]="height"
 	  (document:load)="onResize($event, container4)" 
      (window:resize)="onResize($event, container4)"	  
      >		

	
	<div class="hex1" style="background-image: url(images/hex-02.png);">
				<h3 class="title1">Innitiative</h3>
				<i class="icon-2 fa fa-4x fa-calendar-o" aria-hidden="true"></i>
	</div>
		
    
    
	<div class="hex hex-1">		
		<div class="inner">
				<h4>Innitiative</h4>
				<i class="icon-1 fa fa-4x fa-calendar-o" aria-hidden="true"></i>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>
    
    
	
</section>