.container {
  width: auto;
  height: 900px;
  text-align: center;
  position: relative;
}
.hex {
  width: 150px;
  height: 86px;
  margin: 46px 2px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  text-align: center;
  zoom: 1;
  display: inline-block;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}
.hex .corner-1,
.hex .corner-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -2;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}
.icon-1 {
  position: relative;
  top: 12px;
}
.hex .corner-1 {
  z-index: -1;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hex .corner-2 {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
/* Custom styles*/
.hex .inner {
  color: #eee;
}
.hex h4 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}
.hex hr {
  border: 0;
  border-top: 1px solid #eee;
  width: 60%;
  margin: 15px auto;
}
.hex p {
  font-size: 16px;
  font-family: 'Kotta One', serif;
  width: 80%;
  margin: 0 auto;
}
.hex.hex-1 {
  background: #74cddb;
}
.hex1 {
  width: 263px;
  height: 304px;
  transform: scale(0.62);
}
.title1 {
  position: absolute;
  left: 80px;
  top: 152px;
}
.icon-2 {
  position: relative;
  top: 90px;
}
