
<section class="container">
    <div>
        <h3>Welcome</h3>
         <p>
            This is a simple example with Angular 2 Ver. Beta0.17
            <br>
            <br>

                Thank you!
            <br>
            <br>
            <br>

            Email: kevin.chen278@gmail.com
            <br>
            <br>
            <br>
            Date:  8-May-2016
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
    <button (click)="onBackHome()">Home</button>
</section>