<section id="container2" #container2 class="container"       
      [style.width.px]="width" 
      [style.height.px]="height"
 	  (document:load)="onResize($event, container2)" 
      (window:resize)="onResize($event, container2)"
      >		

	<!--<div class="square">
      <!--[style.width.px]="width" 
      [style.height.px]="height"
      (window:resize)="onResize($event)">		-->

 		<!--<input #myValue value="hellow"/>
 		
	<button (click)="myClick(container2)">getWidth</button>
	  <p title="titleSentence">Hover me - normal title</p>
	  <p [attr.title]="titleSentence"  [style.margin.px]="myFontSize">Hover me - [attr.title]</p>
	</div>-->
	
	
   	<div class="hex hex-1 hex-gap #hex1" style="background-image: url(images/2.jpg);">		
		<div class="inner">
				<h4>Idea factory</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>
    
    
	<div class="hex hex-1 hex-gap #hex2" style="background-image: url(images/3.jpg);">		
		<div class="inner">
				<h4>Innitiative</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>
    
    
	<div class="hex hex-1 hex-gap #hex3" style="background-image: url(images/10.jpg);">		
		<div class="inner">
				<h4>Success</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>

	<div class="hex hex-1 hex-gap #hex4" style="background-image: url(images/5.jpg);">		
		<div class="inner">
				<h4>Status</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>
    
    
    <div class="hex hex-1 hex-gap #hex5" style="background-image: url(images/6.jpg);">		
		<div class="inner">
				<h4>News</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>    
    <div class="hex hex-1 hex-gap #hex6" style="background-image: url(images/7.jpg);">		
		<div class="inner">
				<h4>Blogs</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>    
    <div class="hex hex-1 hex-gap #hex7" style="background-image: url(images/8.jpg);">		
		<div class="inner">
				<h4>Contact Us</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>    
    <div class="hex hex-1 hex-gap #hex8" style="background-image: url(images/9.jpg);">		
		<div class="inner">
				<h4>Submit Idea</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>    
	
    <div class="hex hex-1 hex-gap #hex9" style="background-image: url(images/9.jpg);">		
		<div class="inner">
				<h4>Submit Idea</h4>
		</div>		
		<a href="#"></a>
		<div class="corner-1"></div>
		<div class="corner-2"></div>		
	</div>    
	
	<div class="chat-circle"  #circle style="background-image: url(images/10.jpg);">
		<div class="circle-title">
				Chat Us
		</div>		
	</div>

</section>